body{
    background-color: black;
    margin: 0;
}

h1{
    background-color:black;
    line-height: 2.6em;
    padding: 12px;
    border: 2.2px;
    font-size: 2.4em;
    margin: 0;
}

div{
    color: white;
}

h2 {
    font-size: 1em;
    line-height: 1em;
}

div {
    color: white;
}

